HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
logs/

### VS Code ###
.vscode/
/xuecheng-plus-gateway/target/classes/com/xuecheng/GatewayApplication.class
/xuecheng-plus-gateway/target/classes/bootstrap.yml
/xuecheng-plus-gateway/target/classes/log4j2-dev.xml
